- Text data needs to be cleaned or manipulated for processing. While we can always use a custom apply() function for these tasks, pandas cines with many built-in string method calls
- https://pandas.pydata.org/docs/user_guide/text.html

In [1]:
import pandas as pd
import numpy as np

In [2]:
email = 'theog@email.com'

In [5]:
email.capitalize()

'Theog@email.com'

In [6]:
email.split('@')

['theog', 'email.com']

In [7]:
names = pd.Series(['andrew', 'jose', 'peter', 'james', '5'])

In [8]:
names

0    andrew
1      jose
2     peter
3     james
4         5
dtype: object

In [9]:
names.str.upper()

0    ANDREW
1      JOSE
2     PETER
3     JAMES
4         5
dtype: object

In [10]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [13]:
names[names.str.isdigit()]

4    5
dtype: object

In [14]:
tech_finance = ['GOOG, APPL, AMZN', 'JPM, BAC, GS']

In [15]:
len(tech_finance)

2

In [16]:
tickers = pd.Series(tech_finance)

In [17]:
tickers

0    GOOG, APPL, AMZN
1        JPM, BAC, GS
dtype: object

In [21]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [22]:
tickers.str.split(',', expand=True)

      0      1      2
0  GOOG   APPL   AMZN
1   JPM    BAC     GS

In [23]:
messy_names = pd.Series(['andrew  ', 'bo;bo', '  claire  '])

In [24]:
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object