# DataFrames

- A DataFrame is a table of columns and rows in pandas that we can easily restructure and filter
- Formal definition: A group of Pandas Series objects that share the same index
- A DataFrame is the main Pandas object we will work with and is extremely useful!
- Topics to cover: 
    - Create a DataFrame
    - Grab a column or multiple columns
    - Grab a row or multiple rows
    - Insert a new column or new row

In [2]:
import os

import numpy as np
import pandas as pd

In [3]:
np.random.seed(101)
my_data = np.random.randint(0, 101, (4, 3))

In [4]:
my_data

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]], dtype=int32)

In [5]:
my_index = ['CA', 'NY', 'AZ', 'TX']

In [6]:
my_columns = ['Jan', 'Feb', 'Mar']

In [7]:
df = pd.DataFrame(my_data, my_index, columns=my_columns)

In [8]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

## How to read data from a csv file

In [10]:
# Where is my python code located
os.getcwd()

'C:\\Users\\gifts\\Downloads\\Python For Data Science and Machine Learning\\Notes\\03-Pandas'

In [11]:
df_2 = pd.read_csv('tips.csv') # can reference it directly as it is in the same directory as my_dataframes_notes. If not in the same directory, a full filepath needs to be provided

In [12]:
df_2

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672