- You may need to know the exact directory location and correct file name
- You may need passwords or permissions for certain data inputs (e.g. a SQL database password)
- Documents to take note in this file: CSV files, HTML tables, Excel Files, SQL Databases

In [2]:
import pandas as pd
import numpy as np
import os

In [101]:
pwd

'C:\\Users\\gifts\\DataspellProjects\\Data-Science-and-Machine-Learning\\my_notes\\Pandas'

In [102]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 16CD-37FD

 Directory of C:\Users\gifts\DataspellProjects\Data-Science-and-Machine-Learning\my_notes\Pandas

25/01/2025  10:31 PM    <DIR>          .
07/01/2025  11:17 PM    <DIR>          ..
25/01/2025  09:35 PM    <DIR>          .ipynb_checkpoints
07/01/2025  11:17 PM           751,433 00_my_series_notes.ipynb
07/01/2025  11:17 PM           142,110 01_my_dataframes_notes.ipynb
07/01/2025  11:17 PM            67,431 02_my_conditional_filtering_notes.ipynb
07/01/2025  11:17 PM           169,270 03_my_useful_methods_notes.ipynb
07/01/2025  11:17 PM         1,059,563 04_my_missing_data_notes.ipynb
07/01/2025  11:45 PM           190,953 05_my_groupby_operations_and_multiIndex_notes.ipynb
17/01/2025  01:17 AM            54,672 06_my_combining_DataFrames.ipynb
23/01/2025  10:29 PM            12,465 07_my_text_methods_notes.ipynb
25/01/2025  09:21 PM            27,140 08_my_time_methods_notes.ipynb
25/01/2025  10:31 PM            41,462 09_my_inputs_and_outputs.ipynb
07/01/2025  11:17 PM               652 10_my_pivot_tables.ipynb
07/01/2025  11:17 PM               652 11_my_pandas_project_exercise.ipynb
25/01/2025  10:27 PM                40 edited_example.csv
07/01/2025  11:17 PM                51 example.csv
07/01/2025  11:17 PM             5,022 example.xlsx
07/01/2025  11:17 PM        25,112,317 hotel_booking_data.csv
07/01/2025  11:17 PM               177 movie_scores.csv
07/01/2025  11:17 PM            18,125 mpg.csv
07/01/2025  11:17 PM             5,022 my_excel_file.xlsx
07/01/2025  11:17 PM                51 new_file.csv
07/01/2025  11:17 PM             5,021 new_workbook.xlsx
07/01/2025  11:17 PM                51 newfile.csv
07/01/2025  11:17 PM            52,132 reshaping_pivot.png
07/01/2025  11:17 PM             5,800 RetailSales_BeerWineLiquor.csv
07/01/2025  11:17 PM             1,320 Sales_Funnel_CRM.csv
07/01/2025  11:17 PM             1,407 sample_table.html
07/01/2025  11:17 PM               590 simple.html
07/01/2025  11:17 PM            18,752 tips.csv
              28 File(s)     27,743,681 bytes
               3 Dir(s)  570,994,929,664 bytes free

In [103]:
os.getcwd()

'C:\\Users\\gifts\\DataspellProjects\\Data-Science-and-Machine-Learning\\my_notes\\Pandas'

In [104]:
os.listdir()

['.ipynb_checkpoints',
 '00_my_series_notes.ipynb',
 '01_my_dataframes_notes.ipynb',
 '02_my_conditional_filtering_notes.ipynb',
 '03_my_useful_methods_notes.ipynb',
 '04_my_missing_data_notes.ipynb',
 '05_my_groupby_operations_and_multiIndex_notes.ipynb',
 '06_my_combining_DataFrames.ipynb',
 '07_my_text_methods_notes.ipynb',
 '08_my_time_methods_notes.ipynb',
 '09_my_inputs_and_outputs.ipynb',
 '10_my_pivot_tables.ipynb',
 '11_my_pandas_project_exercise.ipynb',
 'edited_example.csv',
 'example.csv',
 'example.xlsx',
 'hotel_booking_data.csv',
 'movie_scores.csv',
 'mpg.csv',
 'my_excel_file.xlsx',
 'newfile.csv',
 'new_file.csv',
 'new_workbook.xlsx',
 'reshaping_pivot.png',
 'RetailSales_BeerWineLiquor.csv',
 'Sales_Funnel_CRM.csv',
 'sample_table.html',
 'simple.html',
 'tips.csv']

In [105]:
# df = pd.read_csv('example.csv', index_col = 0) # set the first column to be the index column

## Pandas Input and Output - CSV Files

In [106]:
df = pd.read_csv('example.csv', index_col = 0)

In [107]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [108]:
df.to_csv('C:\\Users\\gifts\\DataspellProjects\\Data-Science-and-Machine-Learning\\my_notes\\Pandas\\edited_example.csv', index = False) # create a new file edited_example with the edited DataFrame tables. index=False ensures the file uses the default index(0,1,2,3)

In [109]:
new = pd.read_csv('edited_example.csv')

In [110]:
new

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15

## Pandas Input and Output - HTML Tables

- Websites display tabular information through the use of HTML tables tags: <table>
- Pandas has the ability to automatically convert these HTML tables into a DataFrame
- Not every table in a website is available through HTML tables
- Some websites may block your computer from scraping the HTML of the site through pandas
- It may be more efficient to use an API
- The below codes work through an example of grabbing all the tables from a Wikipedia Article then cleaning and organizing the information to get a DataFrame
- Output to an HTML table is also very useful to display tables on a website!

In [111]:
url = 'https://en.wikipedia.org/wiki/World_population'

In [112]:
populations = pd.read_html(url)

In [113]:
len(populations)

30

In [114]:
populations[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

In [115]:
world_top_ten = populations[4]

In [116]:
world_top_ten

,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations)
0,India,1425775850,17.5%,14 Apr 2023,UN projection[89]
1,China,1409670000,17.3%,17 Jan 2024,National annual estimate[90]
2,United States,337437235,4.14%,24 Jan 2025,National population clock[91]
3,Indonesia,278696200,3.42%,1 Jul 2023,National annual estimate[92]
4,Pakistan,229488994,2.81%,1 Jul 2022,UN projection[93]
5,Nigeria,216746934,2.66%,1 Jul 2022,UN projection[93]
6,Brazil,218710756,2.68%,24 Jan 2025,National population clock[94]
7,Bangladesh,168220000,2.06%,1 Jul 2020,Annual Population Estimate[95]
8,Russia,147190000,1.80%,1 Oct 2021,2021 preliminary census results[96]
9,Mexico,128271248,1.57%,31 Mar 2022,NaN

In [117]:
world_top_ten.columns

Index(['Country / Dependency', 'Population', '% of world', 'Date',
       'Source (official or from the United Nations)'],
      dtype='object')

In [118]:
world_top_ten.columns = ['Country', 'Population', 'Percentage', 'Date', 'Source']

In [119]:
world_top_ten

,Country,Population,Percentage,Date,Source
0,India,1425775850,17.5%,14 Apr 2023,UN projection[89]
1,China,1409670000,17.3%,17 Jan 2024,National annual estimate[90]
2,United States,337437235,4.14%,24 Jan 2025,National population clock[91]
3,Indonesia,278696200,3.42%,1 Jul 2023,National annual estimate[92]
4,Pakistan,229488994,2.81%,1 Jul 2022,UN projection[93]
5,Nigeria,216746934,2.66%,1 Jul 2022,UN projection[93]
6,Brazil,218710756,2.68%,24 Jan 2025,National population clock[94]
7,Bangladesh,168220000,2.06%,1 Jul 2020,Annual Population Estimate[95]
8,Russia,147190000,1.80%,1 Oct 2021,2021 preliminary census results[96]
9,Mexico,128271248,1.57%,31 Mar 2022,NaN

In [120]:
world_top_ten = world_top_ten.drop('Source', axis = 1)

In [121]:
world_top_ten

         Country  Population Percentage         Date
0          India  1425775850      17.5%  14 Apr 2023
1          China  1409670000      17.3%  17 Jan 2024
2  United States   337437235      4.14%  24 Jan 2025
3      Indonesia   278696200      3.42%   1 Jul 2023
4       Pakistan   229488994      2.81%   1 Jul 2022
5        Nigeria   216746934      2.66%   1 Jul 2022
6         Brazil   218710756      2.68%  24 Jan 2025
7     Bangladesh   168220000      2.06%   1 Jul 2020
8         Russia   147190000      1.80%   1 Oct 2021
9         Mexico   128271248      1.57%  31 Mar 2022

In [122]:
world_top_ten['Date']

0    14 Apr 2023
1    17 Jan 2024
2    24 Jan 2025
3     1 Jul 2023
4     1 Jul 2022
5     1 Jul 2022
6    24 Jan 2025
7     1 Jul 2020
8     1 Oct 2021
9    31 Mar 2022
Name: Date, dtype: object

In [131]:
world_top_ten['Date'] = pd.to_datetime(world_top_ten['Date'], format = '%d %b %Y', dayfirst = True)

In [140]:
world_top_ten['Date'] = world_top_ten['Date'].dt.strftime('%d/%m/%Y')

In [141]:
world_top_ten

         Country  Population Percentage        Date
0          India  1425775850      17.5%  14/04/2023
1          China  1409670000      17.3%  17/01/2024
2  United States   337437235      4.14%  24/01/2025
3      Indonesia   278696200      3.42%  01/07/2023
4       Pakistan   229488994      2.81%  01/07/2022
5        Nigeria   216746934      2.66%  01/07/2022
6         Brazil   218710756      2.68%  24/01/2025
7     Bangladesh   168220000      2.06%  01/07/2020
8         Russia   147190000      1.80%  01/10/2021
9         Mexico   128271248      1.57%  31/03/2022

In [142]:
# world_top_ten.to_html('world_population.html')  # transfer data to world_population.html file in the current directory

## Pandas Input and Output - Excel Files

- Pandas can read and write to Excel files
- Pandas can only read and write in raw data, it is not able to read in macros, visualizations, or formulas created inside of spreadsheets
- Pandas treats an Excel Workbook as a dictionary, with the key being the sheet name and the value being the DataFrame representing the sheet itself.
- Using Pandas with Excel requires additional libraries

In [4]:
excel_file_df = pd.read_excel('my_excel_file.xlsx', sheet_name='First_Sheet')

In [5]:
excel_file_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
wb = pd.ExcelFile('my_excel_file.xlsx')

In [7]:
wb.sheet_names

['First_Sheet']

In [9]:
excel_sheet_dict = pd.read_excel('my_excel_file.xlsx', sheet_name=None)

In [10]:
type(excel_sheet_dict)

dict

In [11]:
excel_sheet_dict.keys()

dict_keys(['First_Sheet'])

In [15]:
my_df = excel_sheet_dict['First_Sheet']

In [16]:
my_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [17]:
# my_df.to_excel('excel_example.xlsx', sheet_name='First_Sheet', index=False) # save DataFrame to Excel file

## Pandas Input and Output - SQL Databases

- Pandas can read and write to varius SQL engines through the use of a driver and the sqlalchemy python library
- Step 1:
    - Figure out what SQL Engine you are connecting to e.g: PostgreSQL, MySQL and MS SQL Server
- Step 2:
    - Install the appropriate Python driver library:
        - PostgreSQL - psycopg2
        - MySQL - pymysql
        - MS SQL Server - pyodbc
- Step 3:
    - Use the sqlalchemy library to connect to your SQL database with the driver:
        - docs.sqlalchemy.org/en/13/dialects/index.html
- Step 4:
    - Use the sqlalchemy driver connection with pandas read_sql method
    - Pandas can read in entire tables as a DataFrame or actual parse a SQL query through the connection:
        - SELECT * FROM table;

- SQLite is used as an example below since it comes with Python and we can easily create a temporary database inside your RAM

- Pip install sqlalchemy

In [18]:
from sqlalchemy import create_engine

In [19]:
temp_db = create_engine('sqlite:///:memory:')

In [20]:
random_df = pd.DataFrame(data=np.random.randint(low=0, high=100, size=(4,4)), columns=['a', 'b', 'c', 'd'])

In [21]:
random_df

    a   b   c   d
0  21  26  58  93
1  20  77  75  99
2  27  91  87  85
3  98  71  99  45

In [23]:
# random_df.to_sql(name='new_table', con=temp_db)

ValueError: Table 'new_table' already exists.

In [24]:
new_df = pd.read_sql(sql='new_table', con=temp_db)

In [25]:
new_df

   index   a   b   c   d
0      0  21  26  58  93
1      1  20  77  75  99
2      2  27  91  87  85
3      3  98  71  99  45

In [26]:
result = pd.read_sql_query(sql='SELECT a,c FROM new_table', con=temp_db)

In [27]:
result

    a   c
0  21  58
1  20  75
2  27  87
3  98  99